<nav class="stepper-menu">
  <ul>
    @for (step of steps; track step.icon; let i = $index) {
      <li [class.active]="i === activeStep()" (click)="setStep(i)">
        <i class="step-icon">{{ step.icon }}</i>
        <span class="step-label">{{ step.label }}</span>
      </li>
    }
  </ul>
</nav>

<main>
  <lc-image-loader [class.is-active]="activeStep() === 0" />

  <lc-print-params [class.is-active]="activeStep() === 1" />

  <lc-colors-picker [class.is-active]="activeStep() === 2" />

  <lc-layered-image [class.is-active]="activeStep() === 3" />
</main>
