<div class="f-radio-group">
  <strong>Taille de la buse d'impression</strong> <br />
  <label><input type="radio" [value]="0.2" [(ngModel)]="store.nozzleDiameterCm" /> 0.2&nbsp;mm</label>
  <label><input type="radio" [value]="0.4" [(ngModel)]="store.nozzleDiameterCm" /> 0.4&nbsp;mm</label>
  <label><input type="radio" [value]="0.6" [(ngModel)]="store.nozzleDiameterCm" /> 0.6&nbsp;mm</label>
</div>

<label class="f-field">
  <input type="checkbox" [(ngModel)]="keepRatio" (change)="processDimensionsFromWidth()" />
  Conserver le ratio de l'image
  @if (store.imageData(); as image) {
    ({{ image.width }} x {{ image.height }} pixels)
  }
</label>

<label class="f-field">
  Largeur de l'objet imprimé (en cm)&nbsp;:
  <input type="number" [(ngModel)]="store.widthPrintCm" (change)="processDimensionsFromWidth()" min="0.1" step="0.1" />
</label>

<label class="f-field">
  hauteur de l'objet imprimé (en cm)&nbsp;:
  <input
    type="number"
    [(ngModel)]="store.heightPrintCm"
    (change)="processDimensionsFromHeight()"
    min="0.1"
    step="0.1" />
</label>

<label class="f-field">
  Diagonale de l'objet imprimé (en cm)&nbsp;:
  <input type="number" [(ngModel)]="diagonale" (change)="processDimensionsFromDiagonal()" min="0.1" step="0.1" />
</label>
